/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-size: 1,375rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.5px;
  line-height: 32px;
  color: #202020;
}

h1, h2, h3, h4 {
  font-stretch: 100%;
}

h1 {
  font-weight: 600;
  font-size: clamp(2.7rem, 3vw, 4rem);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 68.6875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 68.75em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  padding: 40px 40px 0 40px;
}

body.open {
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  height: 72px;
  font-weight: 600;
}

.nav .mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  z-index: 2;
  -webkit-clip-path: circle(100px at 90% -20%);
          clip-path: circle(100px at 90% -20%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav .mobile.open {
  -webkit-clip-path: circle(2000px at 90% -10%);
          clip-path: circle(2000px at 90% -10%);
  pointer-events: all;
}

.nav .mobile .mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.nav .mobile .mobile__menu .menu__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .mobile .mobile__menu .menu__items li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav .mobile .mobile__menu .menu__items .menu-item a {
  opacity: 0;
  font-size: 1.5625rem;
  width: 100%;
}

@media (max-width: 39.9375em) {
  .nav .mobile .mobile__menu .menu__items .menu-item a {
    font-size: 1.25rem;
  }
}

.nav .mobile .mobile__menu .menu__items .menu-item a:nth-child(1) {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.nav .mobile .mobile__menu .menu__items .menu-item a.fade {
  opacity: 1;
}

.nav .burger {
  position: absolute;
  right: 40px;
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 39.9375em) {
  .nav .burger {
    right: 20px;
  }
}

.nav .burger span {
  background-color: #202020;
  display: block;
  height: 3px;
  width: 35px;
  margin-bottom: 6px;
}

.nav .open {
  background-color: #202020;
}

.nav__links {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
}

.nav__links li:not(:last-child) {
  margin-right: 58px;
}

.nav__links a {
  color: white;
}

.nav__links a:not(:last-child) {
  margin-right: 58px;
}

.header__video {
  position: relative;
  top: -72px;
  width: 100vw;
  height: 100vh;
  background-image: url(app/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header__video img {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}

.carousel__element--text h1 {
  font-size: clamp(2.7rem, 3vw, 4rem);
  font-weight: 600;
  line-height: normal;
}

.carousel__element--bestseller {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel__element--bestseller .bestseller__image {
  width: 100%;
  margin-bottom: 24px;
}

.carousel__element--bestseller .bestseller__image img {
  width: 100%;
}

.carousel__element--bestseller .bestseller__name {
  font-size: 2rem;
  font-weight: 600;
}

.carousel__element--bestseller:nth-child(2) {
  margin-left: 50px;
}

.service__header {
  margin-bottom: 38px;
}

.service__image {
  width: 100%;
  margin-bottom: 75px;
}

.service__image img {
  width: 100%;
}

.service__stages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
  margin-bottom: 160px;
}

.service__stages .color:nth-child(1) span {
  background-color: #F8A71B;
}

.service__stages .color:nth-child(2) span {
  background-color: #6AA5AC;
}

.service__stages .color:nth-child(3) span {
  background-color: #DF8269;
}

.service__stages .color:nth-child(4) span {
  background-color: #49656E;
}

.service__stages .color:nth-child(5) span {
  background-color: #BFA49E;
}

.service__stages span {
  display: block;
  height: 6px;
}

.service__stages--number {
  font-size: 7.375rem;
  line-height: 144px;
  margin-bottom: 7px;
}

.service__stages h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.service__stages h3 {
  font-weight: 400;
}

.about {
  margin-bottom: 130px;
}

@media (max-width: 68.6875em) {
  .about {
    padding: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__content--text {
  padding-left: 70px;
  padding-right: 20px;
}

@media (max-width: 68.6875em) {
  .about__content--text {
    padding-left: 0;
  }
}

.about__content--text h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

.about__content--text h3 {
  font-size: clamp(1rem, 1.5vw, 1.375rem);
  font-weight: 400;
  line-height: clamp(20px, 2vw, 38px);
  max-width: 700px;
  margin-bottom: 40px;
}

@media (max-width: 68.6875em) {
  .about__content--text h3 {
    max-width: 100%;
  }
}

.about__content--text button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: clamp(1rem, 1.5vw, 1.375rem);
  font-weight: 600;
  border: none;
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (max-width: 68.6875em) {
  .about__image {
    margin-bottom: 40px;
  }
}

.about__image img {
  width: 100%;
}

.production {
  margin-bottom: 130px;
}

.production__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.production__image img {
  width: 100%;
}

.production__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.production__content--text {
  padding-left: 90px;
}

.production__content--text h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

.production__content--text h3 {
  font-size: clamp(1rem, 1.5vw, 1.375rem);
  font-weight: 400;
  line-height: 38px;
  max-width: 800px;
  margin-bottom: 40px;
}

.production__content--text button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: clamp(1rem, 1.5vw, 1.375rem);
  font-weight: 600;
  border: none;
}

.departments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 110px;
}

.departments h1 {
  margin-bottom: 70px;
}

.departments__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 65px;
  width: 100%;
  padding: 0 40px;
}

.departments__content--item .item__title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.departments__content--item .item__person {
  margin-bottom: 20px;
}

.departments__content--item .item__person p {
  font-size: clamp(1rem, 1.5vw, 1.375rem);
}

.departments__content--item .item__person p:nth-child(1) {
  font-weight: 600;
}

.departments__content--item .serwis {
  margin-bottom: 45px;
}

.departments__content--item span {
  display: block;
  height: 6px;
  margin-bottom: 30px;
}

.departments__content--item:nth-child(1) span {
  background-color: #6AA5AC;
}

.departments__content--item:nth-child(2) span {
  background-color: #DF8269;
}

.departments__content--item:nth-child(3) span {
  background-color: #49656E;
}

.departments__content--item:nth-child(3) span:nth-child(2) {
  background-color: #BFA49E;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202020;
  color: #ffffff;
  padding: 70px 40px;
}

.contact__header h1 {
  margin-bottom: 70px;
}

.contact .form {
  width: 100%;
}

.contact .form .content {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form .content .row {
  width: 100%;
}

.contact .form .content .row .row__full {
  width: 100%;
  margin-bottom: 54px;
}

.contact .form .content .row .row__half {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 54px;
}

.contact .form .content .row .row__half:nth-child(2) {
  margin-left: 32px;
}

.contact .form .content .row input {
  width: 100%;
  height: 102px;
  background-color: transparent;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  color: white;
  font-size: 1.75rem;
  padding-left: 20px;
}

.contact .form .content .row input::-webkit-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input:-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input::-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input::placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input:focus-visible {
  outline: 0;
}

.contact .form .content .row textarea {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  color: white;
  font-size: 1.75rem;
  padding-left: 20px;
  padding-top: 30px;
}

.contact .form .content .row textarea::-webkit-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea:-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea::-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea::placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea:focus-visible {
  outline: 0;
}

.contact .form .content .button {
  width: 100%;
}

.contact .form .content .button button {
  background-color: #ffffff;
  color: #202020;
  padding: 18px 46px;
  font-size: clamp(1rem, 1.5vw, 1.375rem);
  font-weight: 600;
  border: none;
}

.footer {
  margin-bottom: 75px;
}

.footer__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content--logo {
  margin-bottom: 50px;
}

.footer__content--columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.footer__content--columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 480px;
}

.footer__content--columns .column a {
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #202020;
}

.author {
  border-top: 1px solid #D0D0D0;
  padding: 10px 0 20px 0;
  margin: 0px 40px;
}
/*# sourceMappingURL=style.css.map */