/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove all rounding on iOS forms */
input {
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

body {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.5px;
  color: #202020;
}

h1, h2, h3, h4 {
  font-stretch: 100%;
}

h1 {
  font-weight: 600;
  font-size: clamp(2.5rem, 3vw, 3rem);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 68.6875em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 68.75em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  padding: 40px 40px 0 40px;
}

@media (max-width: 39.9375em) {
  .container {
    padding: 20px 20px 0 20px;
  }
}

.container__lr {
  padding: 0 40px 0 40px;
}

body.open {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  height: 90px;
  font-weight: 600;
  padding: 0 40px;
}

.nav .mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #202020;
  z-index: 2;
  -webkit-clip-path: circle(100px at 90% -20%);
          clip-path: circle(100px at 90% -20%);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
}

.nav .mobile.open {
  -webkit-clip-path: circle(2000px at 90% -10%);
          clip-path: circle(2000px at 90% -10%);
  pointer-events: all;
}

.nav .mobile .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.nav .mobile .menu .menu__items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.nav .mobile .menu .menu__items a {
  color: white;
}

.nav .burger {
  position: absolute;
  right: 40px;
  z-index: 3;
  cursor: pointer;
}

@media (max-width: 39.9375em) {
  .nav .burger {
    right: 20px;
  }
}

.nav .burger span {
  background-color: #202020;
  display: block;
  height: 4px;
  width: 42px;
  margin-bottom: 7px;
}

.nav .burger .black {
  background-color: #202020;
}

.nav .burger .black1.open {
  background-color: white;
}

.nav .burger .black2.open {
  background-color: white;
}

.nav .burger .black3.open {
  background-color: white;
}

.nav .open {
  background-color: #202020;
}

.nav__links {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  z-index: 3;
}

.nav__links ul {
  list-style: none;
  margin-bottom: 0px;
  margin-top: 0px;
}

.nav__links ul li a {
  color: #ffffff;
  margin-right: 58px;
  text-decoration: none;
}

.nav__links ul li .black {
  color: #202020;
}

.nav__links ul li a:not(:last-child) {
  margin-right: 58px;
}

.nav__links ul li ul {
  display: none;
}

.nav__links ul li:nth-child(4) {
  padding-bottom: 40px;
  padding-top: 40px;
}

.nav__links ul li:hover > ul {
  margin-top: 20px;
  background-color: white;
  position: absolute;
  padding-left: 0;
  display: block;
}

.nav__links ul li:hover > ul li {
  background: white;
  position: relative;
  right: 20px;
  padding: 20px 0px 20px 20px;
}

.nav__links ul li:hover > ul li a {
  color: black;
  margin-right: 10px;
}

.nav__links .nav__links_black a {
  color: black;
}

.header__video {
  position: relative;
  top: -90px;
  width: 100vw;
  height: 100vh;
  background-image: url(app/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.header__video img {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}

.carousel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.carousel__element {
  margin-bottom: 60px;
}

.carousel__element--text h1 {
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 39.9375em) {
  .carousel__element--text h1 {
    font-size: clamp(2rem, 3vw, 4rem);
  }
}

@media (max-width: 39.9375em) {
  .carousel__element--text {
    width: 240px !important;
  }
}

.carousel__element--bestseller {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.carousel__element--bestseller .bestseller__image {
  width: 100%;
  margin-bottom: 24px;
}

.carousel__element--bestseller .bestseller__image img {
  width: 100%;
}

.carousel__element--bestseller .bestseller__name {
  font-size: 2rem;
  font-weight: 600;
}

.carousel__element--bestseller:nth-child(2) {
  margin-left: 50px;
}

@media (max-width: 39.9375em) {
  .carousel__element--bestseller:nth-child(2) {
    margin-left: 0px;
  }
}

.carousel button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.service__header {
  margin-bottom: 38px;
}

@media (max-width: 39.9375em) {
  .service__header {
    line-height: 43px;
  }
}

.service__image {
  width: 100%;
  margin-bottom: 75px;
}

.service__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 39.9375em) {
  .service__image img {
    height: 400px;
  }
}

.service__stages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
  margin-bottom: 160px;
}

@media (max-width: 39.9375em) {
  .service__stages {
    gap: 60px;
  }
}

.service__stages .color:nth-child(1) span {
  background-color: #F8A71B;
}

.service__stages .color:nth-child(2) span {
  background-color: #6AA5AC;
}

.service__stages .color:nth-child(3) span {
  background-color: #DF8269;
}

.service__stages .color:nth-child(4) span {
  background-color: #49656E;
}

.service__stages .color:nth-child(5) span {
  background-color: #BFA49E;
}

.service__stages span {
  display: block;
  height: 6px;
}

.service__stages--number {
  font-size: 7.375rem;
  line-height: 144px;
  margin-bottom: 7px;
}

@media (max-width: 68.6875em) {
  .service__stages--number {
    font-size: 6.375rem;
    line-height: 104px;
    margin-bottom: 0px;
  }
}

.service__stages h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.service__stages h3 {
  font-weight: 400;
}

.about {
  margin-bottom: 130px;
}

@media (max-width: 68.6875em) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 70px;
  }
}

@media (max-width: 39.9375em) {
  .about {
    margin-bottom: 30px;
  }
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about__content--text {
  padding-left: 70px;
  padding-right: 40px;
}

@media (max-width: 87.4375em) {
  .about__content--text {
    padding-left: 0px;
  }
}

.about__content--text h1 {
  font-weight: 600;
  margin-bottom: 15px;
}

.about__content--text h3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: clamp(32px, 2vw, 38px);
  max-width: 700px;
  margin-bottom: 40px;
}

@media (max-width: 68.6875em) {
  .about__content--text h3 {
    max-width: 100%;
  }
}

.about__content--text button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (max-width: 68.6875em) {
  .about__image {
    margin-bottom: 40px;
  }
}

.about__image img {
  width: 100%;
}

.production {
  margin-bottom: 130px;
}

@media (max-width: 68.6875em) {
  .production {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.production__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

@media (max-width: 68.6875em) {
  .production__image {
    margin-bottom: 40px;
  }
}

.production__image img {
  width: 100%;
}

.production__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.production__content--text {
  padding-left: 90px;
}

@media (max-width: 87.4375em) {
  .production__content--text {
    padding-left: 40px;
  }
}

@media (max-width: 68.6875em) {
  .production__content--text {
    padding-left: 0;
  }
}

.production__content--text h1 {
  font-weight: 600;
  margin-bottom: 32px;
}

.production__content--text h3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: clamp(32px, 2vw, 38px);
  max-width: 800px;
  margin-bottom: 40px;
}

@media (max-width: 68.6875em) {
  .production__content--text h3 {
    max-width: 100%;
  }
}

.production__content--text button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.departments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 110px;
}

.departments h1 {
  margin-bottom: 70px;
}

@media (max-width: 39.9375em) {
  .departments h1 {
    line-height: 43px;
  }
}

@media (max-width: 68.6875em) {
  .departments h1 {
    margin-bottom: 70px;
  }
}

@media (max-width: 39.9375em) {
  .departments h1 {
    margin-bottom: 50px;
  }
}

.departments__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(330px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 65px;
  width: 100%;
}

.departments__content--item .item__title {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.departments__content--item .item__person {
  margin-bottom: 20px;
}

.departments__content--item .item__person p {
  font-size: 1.125rem;
}

.departments__content--item .item__person p:nth-child(1) {
  font-weight: 600;
}

.departments__content--item .serwis {
  margin-bottom: 45px;
}

.departments__content--item span {
  display: block;
  height: 6px;
  margin-bottom: 30px;
}

.departments__content--item:nth-child(1) span {
  background-color: #6AA5AC;
}

.departments__content--item:nth-child(2) span {
  background-color: #DF8269;
}

.departments__content--item:nth-child(3) span {
  background-color: #49656E;
}

.departments__content--item:nth-child(3) span:nth-child(2) {
  background-color: #BFA49E;
}

.contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202020;
  color: #ffffff;
  padding: 70px 40px;
}

@media (max-width: 39.9375em) {
  .contact {
    padding: 40px 20px;
  }
}

.contact__header h1 {
  margin-bottom: 70px;
}

@media (max-width: 39.9375em) {
  .contact__header h1 {
    line-height: 43px;
  }
}

.contact .form {
  width: 100%;
}

.contact .form .content {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .form .content .row {
  width: 100%;
}

@media (max-width: 68.6875em) {
  .contact .form .content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

.contact .form .content .row .row__full {
  width: 100%;
  margin-bottom: 54px;
}

@media (max-width: 68.6875em) {
  .contact .form .content .row .row__full {
    margin-bottom: 0px;
  }
}

.contact .form .content .row .row__half {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 54px;
}

@media (max-width: 68.6875em) {
  .contact .form .content .row .row__half {
    margin-bottom: 0px;
  }
}

.contact .form .content .row .row__half:nth-child(2) {
  margin-left: 32px;
}

@media (max-width: 68.6875em) {
  .contact .form .content .row .row__half:nth-child(2) {
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 40px;
  }
}

.contact .form .content .row input {
  width: 100%;
  height: 102px;
  background-color: transparent;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  color: white;
  font-size: 1.75rem;
  padding-left: 20px;
}

.contact .form .content .row input::-webkit-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input:-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input::-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input::placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row input:focus-visible {
  outline: 0;
}

@media (max-width: 68.6875em) {
  .contact .form .content .row input {
    font-size: 1.45rem;
    height: 80px;
  }
}

.contact .form .content .row textarea {
  width: 100%;
  background-color: transparent;
  border-top: 1px solid #D0D0D0;
  border-bottom: 1px solid #D0D0D0;
  color: white;
  font-size: 1.75rem;
  padding-left: 20px;
  padding-top: 30px;
}

.contact .form .content .row textarea::-webkit-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea:-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea::-ms-input-placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea::placeholder {
  color: #D0D0D0;
  font-size: 1.75rem;
}

.contact .form .content .row textarea:focus-visible {
  outline: 0;
}

.contact .form .content .button {
  width: 100%;
}

.contact .form .content .button button {
  background-color: #ffffff;
  color: #202020;
  padding: 18px 46px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.footer {
  margin-bottom: 75px;
}

.footer__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content--logo {
  margin-bottom: 50px;
}

.footer__content--columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 20px;
}

.footer__content--columns .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 480px;
}

.footer__content--columns .column a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #202020;
}

.footer__content--columns .column a img {
  width: 36px;
  height: auto;
  margin-right: 25px;
}

.author {
  border-top: 1px solid #D0D0D0;
  padding: 10px 0 20px 0;
  margin: 0px 40px;
}

.padding {
  padding-bottom: 40px;
  margin-bottom: 110px;
}

.nav__logo a img {
  height: 27px;
}

.service_container {
  background-image: url(app/img/zadaszenie.jpg);
  margin-bottom: 50px;
}

.header__image {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.left__text {
  padding-left: 40px;
  margin-bottom: 28px;
  max-width: 1125px;
}

.left__text h2 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 600;
}

.black__container {
  background-color: #202020;
  color: white;
  padding: 64px 40px;
  margin-bottom: 50px;
}

.black__container li {
  list-style-position: inside;
  font-size: 32px;
  font-weight: 400;
}

.black__container li:not(:last-child) {
  margin-bottom: 30px;
}

.black__container--title {
  font-size: 38px;
  font-weight: 600;
  line-height: 54px;
  margin-bottom: 20px;
  max-width: 1125px;
}

.black__container--grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 40px;
}

.black__container--grid .grid li {
  list-style-position: inside;
  font-size: 32px;
  font-weight: 400;
}

.text__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 100px;
  margin-bottom: 100px;
}

.text__boxes .text__box--title {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text__boxes .text__box--content {
  font-size: 1.125rem;
}

.padding-lr {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.padding-lr img {
  margin-bottom: 30px;
}

.padding-lr button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.title {
  line-height: 59px;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
}

.title h1 {
  font-size: 48px;
  max-width: 1370px;
}

@media (max-width: 68.6875em) {
  .title h1 {
    font-size: 38px;
    line-height: 46px;
  }
}

@media (max-width: 39.9375em) {
  .title h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

.about__content h1 {
  font-size: 48px;
  margin-bottom: 32px;
}

@media (max-width: 68.6875em) {
  .about__content h1 {
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 16px;
  }
}

@media (max-width: 39.9375em) {
  .about__content h1 {
    font-size: 28px;
    line-height: 38px;
  }
}

.about__content h3 {
  font-size: 1.125rem;
  max-width: 648px;
}

.blog {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog__grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(440px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 30px;
}

.blog__grid--element {
  margin-bottom: 80px;
}

.blog__grid--element .post__image {
  margin-bottom: 24px;
}

.blog__grid--element .post__title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 18px;
}

.blog__grid--element .post__text {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.blog__grid--element .post button {
  background-color: #202020;
  color: #ffffff;
  padding: 18px 46px;
  font-size: 1.125rem;
  font-weight: 600;
  border: none;
}

.post a {
  color: #202020;
}

.post a .post__back {
  padding: 0 0 40px 40px;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}

.post__image {
  margin-bottom: 70px;
}

.post__content {
  max-width: 1370px;
}

.post__content h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.post__content p {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 98px;
}

.img__fullwidht {
  position: relative;
  width: 100vw;
  height: calc(100vh - 90px);
  background-image: url(app/img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.img__fullwidht img {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}

.production__content {
  max-width: 750px;
}

.border {
  border-top: 1px solid #202020;
  border-bottom: 1px solid #202020;
  padding-bottom: 40px;
  padding-top: 40px;
}

.zadaszenie__header {
  margin-top: 30px;
}

.zadaszenie__header--category {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
}

.zadaszenie__header--name {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 28px;
  padding-left: 40px;
}

.zadaszenie__header--image {
  position: relative;
  max-height: 720px;
}

@media (max-width: 87.4375em) {
  .zadaszenie__header--image {
    position: static;
    max-height: none;
  }
}

.zadaszenie__header--image img {
  max-height: 720px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.zadaszenie__header--image .opis {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: white;
  max-width: 567px;
  padding: 40px;
  color: #202020;
  z-index: 2;
}

@media (max-width: 87.4375em) {
  .zadaszenie__header--image .opis {
    position: static;
    -webkit-transform: none;
            transform: none;
    background-color: none;
    max-width: none;
  }
}

.zadaszenie__header--image .opis__bold {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 18px;
}

@media (max-width: 87.4375em) {
  .zadaszenie__header--image .opis__bold {
    max-width: 700px;
  }
}

.zadaszenie__header--image .opis__body {
  font-size: 1.125rem;
  font-weight: 400;
}

@media (max-width: 87.4375em) {
  .zadaszenie__header--image .opis__body {
    max-width: 700px;
  }
}

.render {
  margin-bottom: 40px;
}

@media (max-width: 68.6875em) {
  .render {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 887px) {
  .render {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.render span {
  display: block;
  min-width: 1px;
  background-color: #202020;
  margin: 0 40px;
}

@media (max-width: 68.6875em) {
  .render span {
    margin: 20px 0;
  }
}

@media (max-width: 887px) {
  .render span {
    display: none;
  }
}

@media (max-width: 68.6875em) {
  .render .span_none {
    display: none;
  }
}

.technologie__title--name {
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-weight: 600;
  margin-bottom: 65px;
}

.technologie__content {
  padding-left: 40px;
}

@media (max-width: 887px) {
  .technologie__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
  }
}

.technologie__content--image {
  max-width: 256px;
}

@media (max-width: 887px) {
  .technologie__content--image {
    margin-bottom: 40px;
  }
}

.technologie__content--image img {
  max-width: none;
}

.technologie__content--text {
  max-width: 1200px;
  margin-left: 78px;
}

@media (max-width: 887px) {
  .technologie__content--text {
    margin-left: 0px;
  }
}

.technologie__content--text p {
  font-size: 1.125rem;
  font-weight: 400;
}

.wymiary__title--name {
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-weight: 600;
  margin-bottom: 40px;
}

.wymiary__content .flex {
  font-size: 1.125rem;
  margin-bottom: 12px;
}

.wymiary__content .flex .semibold {
  font-weight: 600;
  font-size: 1.125rem;
}

.pytania__title {
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-weight: 600;
  margin-bottom: 40px;
}

.pytania__content .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(450px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 30px;
}

.pytania__content .grid__element {
  margin-bottom: 50px;
}

.pytania__content .grid__element--question {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.pytania__content .grid__element--answear {
  font-size: 1.125rem;
  font-weight: 400;
}

.konfigurator__title {
  font-size: clamp(2.5rem, 3vw, 3rem);
  font-weight: 600;
}

.konfigurator__title a {
  width: 100%;
  text-decoration: none;
  color: #202020;
}

.technology__title {
  margin-top: 20px;
  margin-bottom: 60px;
  max-width: 1125px;
}

.technology__title h2 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 600;
}

.technology__points .technology__point--title {
  margin-bottom: 20px;
}

.technology__points .technology__point--title h2 {
  font-size: 36px;
  font-weight: 600;
}

.technology__points .technology__point--content {
  max-width: 1000px;
  margin-bottom: 80px;
}

.technology__points .technology__point--images {
  margin-bottom: 40px;
}

@media (max-width: 68.6875em) {
  .technology__points .technology__point--images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 887px) {
  .technology__points .technology__point--images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.technology__points .technology__point--images span {
  display: block;
  min-width: 1px;
  background-color: #202020;
  margin: 0 40px;
}

@media (max-width: 68.6875em) {
  .technology__points .technology__point--images span {
    margin: 20px 0;
  }
}

@media (max-width: 1019px) {
  .technology__points .technology__point--images span {
    display: none;
  }
}

@media (max-width: 68.6875em) {
  .technology__points .technology__point--images .span_none {
    display: none;
  }
}

.technology__points .technology__point--images .image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.technology__points .technology__point--images .image p {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
}

.technology__points .kolory {
  text-align: right;
}

@media (max-width: 68.6875em) {
  .technology__points .kolory {
    text-align: left;
  }
}

.technology__points .kolory__point--title {
  margin-bottom: 20px;
}

.technology__points .kolory__point--title h2 {
  font-size: 36px;
  font-weight: 600;
}

.technology__points .kolory__point--content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 68.6875em) {
  .technology__points .kolory__point--content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.technology__points .kolory__point--content p {
  max-width: 1000px;
  margin-bottom: 80px;
}

.technology__points .kolory__point--images {
  margin-bottom: 40px;
  padding: 0 40px;
}

@media (max-width: 68.6875em) {
  .technology__points .kolory__point--images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 887px) {
  .technology__points .kolory__point--images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.technology__points .kolory__point--images span {
  display: block;
  min-width: 1px;
  background-color: #202020;
  margin: 0 40px;
}

@media (max-width: 68.6875em) {
  .technology__points .kolory__point--images span {
    margin: 0 40px 40px 40px;
  }
}

@media (max-width: 1040px) {
  .technology__points .kolory__point--images span {
    display: none;
  }
}

@media (max-width: 68.6875em) {
  .technology__points .kolory__point--images .span_none {
    display: none;
  }
}

.technology__points .kolory__point--images .image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 68.6875em) {
  .technology__points .kolory__point--images .image {
    margin-bottom: 40px;
  }
  .technology__points .kolory__point--images .image:last-child {
    margin-bottom: 0px;
  }
}

.technology__points .kolory__point--images .image img {
  margin-bottom: 30px;
}

.technology__points .kolory__point--images .image h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
}

.technology__points .kolory__point--images .image p {
  font-size: 22px;
  font-weight: 400;
}

.wypelnienie {
  margin-bottom: 20px;
}

.wypelnienie .image img {
  margin-bottom: 10px;
}

.wypelnienie .image p {
  margin-bottom: 40px !important;
}

.tuv__point {
  text-align: right;
  margin-bottom: 80px;
}

@media (max-width: 68.6875em) {
  .tuv__point {
    text-align: left;
  }
}

.tuv__point--title {
  margin-bottom: 40px;
}

.tuv__point--title h2 {
  font-size: 36px;
  font-weight: 600;
}

@media (max-width: 68.6875em) {
  .tuv__point div {
    display: block;
  }
}

.tuv__point div .tuv__point--image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 20px;
  margin-bottom: 40px;
}

.tuv__point--content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}

@media (max-width: 68.6875em) {
  .tuv__point--content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 0px;
  }
}

.tuv__point--content p {
  max-width: 900px;
}

.wyposazenie__point--title {
  margin-bottom: 20px;
}

.wyposazenie__point--title h2 {
  font-size: 36px;
  font-weight: 600;
}

.wyposazenie__point--content {
  max-width: 1000px;
  margin-bottom: 80px;
}

.wyposazenie__point--images {
  margin-bottom: 40px;
}

@media (max-width: 68.6875em) {
  .wyposazenie__point--images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 887px) {
  .wyposazenie__point--images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wyposazenie__point--images span {
  display: block;
  min-width: 1px;
  background-color: #202020;
  margin: 0 40px;
}

@media (max-width: 68.6875em) {
  .wyposazenie__point--images span {
    margin: 20px 0;
  }
}

@media (max-width: 1019px) {
  .wyposazenie__point--images span {
    display: none;
  }
}

@media (max-width: 68.6875em) {
  .wyposazenie__point--images .span_none {
    display: none;
  }
}

.wyposazenie__point--images .image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.wyposazenie__point--images .image h4 {
  font-size: 38px;
}

.wyposazenie__point--images .image p {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 2px;
}

.prowadnice__point {
  margin-bottom: 80px;
  text-align: right;
}

@media (max-width: 68.6875em) {
  .prowadnice__point {
    text-align: left;
  }
}

.prowadnice__point--title {
  margin-bottom: 20px;
}

.prowadnice__point--title h2 {
  font-size: 36px;
  font-weight: 600;
}

.prowadnice__point--content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 68.6875em) {
  .prowadnice__point--content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.prowadnice__point--content p {
  max-width: 1000px;
  margin-bottom: 80px;
}

.prowadnice__point--images {
  margin-bottom: 40px;
  padding: 0 40px;
}

@media (max-width: 68.6875em) {
  .prowadnice__point--images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 887px) {
  .prowadnice__point--images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.prowadnice__point--images span {
  display: block;
  min-width: 1px;
  background-color: #202020;
  margin: 0 40px;
}

@media (max-width: 68.6875em) {
  .prowadnice__point--images span {
    margin: 0 40px 40px 40px;
  }
}

@media (max-width: 1040px) {
  .prowadnice__point--images span {
    display: none;
  }
}

@media (max-width: 68.6875em) {
  .prowadnice__point--images .span_none {
    display: none;
  }
}

.prowadnice__point--images .image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 68.6875em) {
  .prowadnice__point--images .image {
    margin-bottom: 40px;
  }
  .prowadnice__point--images .image:last-child {
    margin-bottom: 0px;
  }
}

.prowadnice__point--images .image img {
  margin-bottom: 30px;
}

.prowadnice__point--images .image h4 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
}

.prowadnice__point--images .image p {
  font-size: 22px;
  font-weight: 400;
}

.nowoczesny {
  max-width: 800px;
  margin-bottom: 80px;
}

.naped__point {
  margin-bottom: 40px;
  text-align: right;
}

@media (max-width: 68.6875em) {
  .naped__point {
    text-align: left;
  }
}

.naped__point--title {
  margin-bottom: 20px;
}

.naped__point--title h2 {
  font-size: 36px;
  font-weight: 600;
}

.naped__point--content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 68.6875em) {
  .naped__point--content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.naped__point--content p {
  max-width: 800px;
  margin-bottom: 80px;
}

.gwarancja {
  max-width: 800px;
  margin-bottom: 80px;
}
/*# sourceMappingURL=style.css.map */