.title{
    line-height: 59px;
    width: 100%;
    justify-content: right;
    text-align: right;
    h1{
        font-size: 48px;
        max-width: 1370px;
    }
}
.about__content{
    h1{
        font-size: 48px;
        margin-bottom: 32px;
    }
    h3{
        max-width: 648px;
    }
}