//flexbox
.flex {
	display: flex;
	&-jc-sb {
		justify-content: space-between;
	}
	&-jc-a {
		justify-content: space-around;
	}
	&-jc-se {
		justify-content: space-evenly;
	}
	&-jc-c {
		justify-content: center;
	}
	&-ai-c {
		align-items: center;
	}
}

// Visibility
.hide-for-mobile {
	@include breakpoint-down(medium) {
		display: none;
	}
}

.hide-for-desktop {
	@include breakpoint-up(large) {
		display: none;
	}
}

.container{
	// flex-direction: column;
	padding: 40px 40px 0 40px;
	@include breakpoint-down(small) {
		padding: 20px 20px 0 20px;
	}
}