body.open {
	margin: 0;
	height: 100vh;
	overflow: hidden
}
.menu {
	display: flex;
}
.nav {
	height: 90px;
	font-weight: 600;
	padding: 0 40px;
	.mobile {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $Black;
		z-index: 2;
		clip-path: circle(100px at 90% -20%);
		transition: all 1s ease-out;
		pointer-events: none;
		&.open {
			clip-path: circle(2000px at 90% -10%);
			pointer-events: all;
		}
		.menu {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			text-align: center;
			.menu__items {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-items: center;
				align-items: center;
				padding: 40px 0;
				a {
					color: white;
					// padding-top: 20px;
					// padding-bottom: 20px;
				}
			}
		}
	}
	.burger {
		position: absolute;
		right: 40px;
		z-index: 3;
		cursor: pointer;
			@include breakpoint-down(small) {
				right: 20px;
			}
		span {
			background-color: white;
			display: block;
			height: 4px;
			width: 42px;
			margin-bottom: 7px;
		}
		.black1{
			background-color: $Black;
		}
		.black2{
			background-color: $Black;
		}
		.black3{
			background-color: $Black;
		}
		.black1.open{
			background-color: white;
		}
		.black2.open{
			background-color: white;
		}
		.black3.open{
			background-color: white;
		}
	}
	.open {
		background-color: $Black;
	}
	&__links {
		font-size: $body;
		font-weight: 600;
        color: white;
		z-index: 3;
		ul{
			list-style: none;
			// height: 100%;
margin-bottom: 0px;
margin-top: 0px;
			li{
				
				a{
					color: #ffffff;
					margin-right: 58px;
					text-decoration: none;
				}
				.black{
					color: $Black;
				}
				a:not(:last-child) {
						margin-right: 58px;
					}
				ul{
						display: none;
				}
			}
			li:nth-child(4){
				padding-bottom: 40px;
				padding-top: 40px;
			}

		}
		ul li:hover > ul
{
	margin-top: 20px;
	background-color: white;
	position: absolute;
	padding-left: 0;
	display:block;
	li{
		background: white;
position: relative;
right: 20px;
padding: 20px 0px 20px 20px;
		a{
			color: black;
			margin-right: 10px;

		}

	}
}
.nav__links_black{
    a{
        color: black;
    }
}

		// li:not(:last-child) {
		// 	margin-right: 58px;
		// 	@include breakpoint-down(large) {
		// 	}
		// }
        // a{
        //     color: white;
        // }
		// a:not(:last-child) {
		// 	margin-right: 58px;
		// 	@include breakpoint-down(large) {
		// 	}
		// }
	}
}


