.service{
    background-image: url(app/img/zadaszenie.jpg);
}
.header__image{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
