body {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -.5px;
  line-height: 32px;
  color: $Black;
}
 
h1, h2, h3, h4 { 
  font-stretch: 100%;
}

h1 {
  font-weight: $semibold;
  font-size: $heading;
}