// Colors
$LightBrown: #BFA49E;
$Brown: #DF8269;
$LightSea:#6AA5AC;
$Sea:#49656E;
$Orange: #F8A71B;
$Black: #202020;

// Font sizes

$small: 1.125rem; //18
$body: 1.375rem; //22
$smallheading: 1.75rem; //28
$heading: 3rem; //48

// font weights

$regular:400;
$medium:500;
$semibold:600;
$bold:700;

