// Colors

$LightBrown: #BFA49E;
$Brown: #DF8269;
$LightSea:#6AA5AC;
$Sea:#49656E;
$Orange: #F8A71B;
$Black: #202020;

// Font sizes

$body: 1.125rem;
$body-lh: #{"clamp(32px, 2vw, 38px)"};
$smallheading: 1.75rem; //28    h2
$heading: #{"clamp(2.5rem, 3vw, 3rem)"}; //48    h1

// font weights

$regular:400;
$medium:500;
$semibold:600;
$bold:700;

